#grupo1-img img {
  float: left;
  width: 393px;
  height: 264px;
  padding-left: 39px; }

#grupo2-img img {
  float: left;
  width: 393px;
  height: 264px;
  padding-left: 39px; }

#wrapper {
  max-width: 100%;
  width: 1441px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

#header {
  background-color: #000114;
  height: 6.939%;
  width: 100%; }

#iconos {
  margin-top: 30px;
  margin-left: 102px;
  float: left; }

#iconos img {
  max-width: 100%;
  width: 150px;
  height: 50px; }

#menu {
  float: right;
  margin-left: 37px; }

#menu-list {
  list-style: none;
  margin-top: 42px;
  margin-right: 38px; }

#menu-list li {
  float: left; }

#menu-list li + li {
  margin-left: 40px; }

#menu-list a {
  text-decoration: none;
  color: white; }

#slider {
  max-width: 100%;
  width: 100%; }

#destacados {
  width: 100%; }

#titulo-paquetes {
  margin-top: 69px;
  margin-bottom: 48px;
  text-align: center; }

#grupo1-img {
  margin-left: 48px;
  margin-bottom: 51px; }

#grupo2-img {
  margin-left: 48px;
  margin-bottom: 100px; }

#quienes {
  width: 100%;
  background-image: url("../img/bg.jpg");
  height: 557px;
  background-color: yellowgreen; }

#iconos-2 {
  float: left;
  margin-top: 261px;
  margin-left: 273px; }

#somos {
  float: right;
  width: 548px;
  color: white;
  margin-right: 144px;
  margin-top: 139px;
  font-size: 18px; }

#footer {
  width: 100%;
  background-color: #171717;
  height: 235px;
  color: white;
  font-size: 16px; }

#menu-footer {
  margin-left: 418px; }

#menu-list-footer {
  list-style: none;
  padding-top: 54px; }

#menu-list-footer li {
  float: left; }

#menu-list-footer li + li {
  margin-left: 40px; }

#menu-list-footer a {
  text-decoration: none;
  color: white; }

#face-footer {
  text-align: center;
  margin-top: 40px; }

#copy {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 40px; }
