@charset "UTF-8";
h3 {
  font-size: 12px;
  padding-left: 23px;
  background-size: 8px;
  background-position: 0 5px; }

h2 {
  font-size: 18px;
  padding-left: 30px;
  background-position: 0 7px; }

/*--------Ubicación--------*/
/*--------Colores--------*/
h2, h3 {
  text-transform: uppercase;
  color: #090909;
  padding-bottom: 12px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat; }

p {
  color: #5d5d5d;
  font-size: 12px;
  line-height: 15px; }

/*header*/
#logo {
  width: 19%;
  float: left; }

#menu {
  width: 68%;
  float: right;
  position: absolute; }

#menu-link-email {
  text-decoration: none;
  color: #5d5d5d;
  font-size: 13px;
  position: absolute;
  top: 0;
  right: 0; }

#menu-lista {
  list-style: none;
  margin: 45px 0 0 0;
  padding: 0; }

#menu-lista li {
  float: left; }

#menu-lista li + li {
  margin-left: 63px; }

#menu-lista a {
  text-decoration: none;
  color: #fe9b00;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px; }

#slider img {
  max-width: 100%;
  width: 100%; }
