#grupo-img img {
  float: left;
  width: 393px;
  height: 264px;
  padding-left: 39px;
  margin-bottom: 37px; }

body {
  margin-top: 0; }

#wrapper {
  max-width: 100%;
  width: 1441px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

#header {
  max-width: 100%;
  width: 100%;
  background-color: #000114; }

#iconos {
  margin-top: 15px;
  margin-left: 102px;
  float: left; }

#iconos img {
  width: 150px;
  height: 50px; }

#menu {
  float: right;
  margin-left: 37px; }

#menu-list {
  list-style: none;
  margin-top: 28px;
  margin-right: 38px; }

#menu-list li {
  float: left; }

#menu-list li + li {
  margin-left: 40px; }

#menu-list a {
  text-decoration: none;
  color: white; }

#slider img {
  max-width: 100%;
  width: 100%; }

#destacados {
  max-width: 100%;
  width: 100%; }

#titulo-paquetes {
  margin-top: 69px;
  margin-bottom: 48px;
  text-align: center; }

#grupo-img {
  margin-left: 48px;
  position: relative; }

.img-1 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 35px;
  position: absolute;
  bottom: 338px;
  right: 962px;
  padding: 10px 51px 10px 51px; }

.img-2 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 35px;
  position: absolute;
  bottom: 338px;
  right: 530px;
  padding: 10px 55px 10px 55px; }

.img-3 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 35px;
  position: absolute;
  bottom: 338px;
  right: 98px;
  padding: 10px 39px 10px 40px; }

.img-4 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 35px;
  position: absolute;
  bottom: 38px;
  right: 962px;
  padding: 10px 51px 10px 51px; }

.img-5 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 35px;
  position: absolute;
  bottom: 38px;
  right: 530px;
  padding: 10px 55px 10px 55px; }

.img-6 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 35px;
  position: absolute;
  bottom: 38px;
  right: 98px;
  padding: 10px 39px 10px 40px; }

#quienes {
  background-image: url("../img/bg.jpg");
  background-color: yellowgreen; }

#iconos-2 {
  float: left;
  padding-top: 261px;
  padding-left: 273px; }

#somos {
  float: right;
  width: 548px;
  color: white;
  margin-right: 144px;
  margin-top: 139px;
  font-size: 18px;
  padding-bottom: 50px; }

#footer {
  width: 100%;
  background-color: #171717;
  height: 235px;
  color: white;
  font-size: 16px; }

#menu-footer {
  margin-left: 418px; }

#menu-list-footer {
  list-style: none;
  padding-top: 54px;
  margin-top: 0; }

#menu-list-footer li {
  float: left; }

#menu-list-footer li + li {
  margin-left: 40px; }

#menu-list-footer a {
  text-decoration: none;
  color: white; }

#face-footer {
  text-align: center;
  margin-top: 40px; }

#copy {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 40px; }

@media (max-width: 1023px) {
  #header {
    font-size: 14px; }
  #quienes {
    margin-top: 0; }
  #iconos-2 {
    float: none;
    margin-left: 380px;
    padding-top: 50px;
    padding-left: 0; }
  #somos h1 {
    text-align: center; }
  #somos {
    float: none;
    width: 548px;
    color: white;
    margin-left: 220px;
    margin-top: 50px;
    font-size: 14px;
    text-align: justify;
    padding-bottom: 35px; }
  #footer {
    width: 100%;
    background-color: #171717;
    height: 235px;
    color: white;
    font-size: 14px; }
  #menu-footer {
    margin-left: 235px; }
  #grupo-img {
    margin-left: 48px;
    position: relative; }
  .img-1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 30px;
    position: absolute;
    bottom: 639px;
    right: 510px;
    padding: 10px 71px 10px 73px; }
  .img-2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    position: absolute;
    bottom: 639px;
    right: 78px;
    padding: 10px 55px 10px 55px; }
  .img-3 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    position: absolute;
    bottom: 338px;
    right: 510px;
    padding: 10px 39px 10px 40px; }
  .img-4 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    position: absolute;
    bottom: 338px;
    right: 78px;
    padding: 10px 52px 10px 51px; }
  .img-5 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    position: absolute;
    bottom: 38px;
    right: 510px;
    padding: 10px 55px 10px 55px; }
  .img-6 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    position: absolute;
    bottom: 38px;
    right: 79px;
    padding: 10px 39px 10px 40px; } }

@media (max-width: 767px) {
  #menu {
    display: none; }
  #quienes {
    margin-top: 0; }
  #grupo-img {
    padding-left: 85px; }
  #iconos-2 {
    float: none;
    margin-left: 275px;
    padding-top: 50px;
    padding-left: 0; }
  #somos h1 {
    text-align: center; }
  #somos {
    float: none;
    width: 548px;
    color: white;
    margin-left: 95px;
    margin-top: 50px;
    font-size: 14px;
    text-align: justify;
    padding-bottom: 35px; }
  #footer {
    width: 100%;
    background-color: #171717;
    height: 235px;
    color: white;
    font-size: 12px; }
  #menu-footer {
    margin-left: 125px; }
  #grupo-img {
    margin-left: 48px;
    position: relative; }
  .img-1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 30px;
    position: absolute;
    bottom: 1550px;
    right: 165px;
    padding: 10px 71px 10px 73px; }
  .img-2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    position: absolute;
    bottom: 1240px;
    right: 165px;
    padding: 10px 55px 10px 55px; }
  .img-3 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    position: absolute;
    bottom: 940px;
    right: 165px;
    padding: 10px 39px 10px 40px; }
  .img-4 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    position: absolute;
    bottom: 650px;
    right: 165px;
    padding: 10px 52px 10px 51px; }
  .img-5 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    position: absolute;
    bottom: 340px;
    right: 165px;
    padding: 10px 55px 10px 55px; }
  .img-6 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    position: absolute;
    bottom: 38px;
    right: 165px;
    padding: 10px 39px 10px 40px; } }
