#destacados{
    max-width: 100%;
    width: 100%;
}
#titulo-paquetes{
    margin-top: 4.78%;
    margin-bottom: 3.33%;
    text-align: center;
}
#grupo-img{
    margin-left: 3.33%;
    position: relative;
}
.img-1{
    background-color: $background-color-img;
    color: white;
    text-align: center;
    font-size: 35px;
    position: $absolute;
    bottom: 338px;
    right: 962px;
    padding: 10px 51px 10px 51px;
}
.img-2{
    background-color: $background-color-img;
    color: white;
    font-size: 35px;
    position: $absolute;
    bottom: 338px;
    right: 530px;
    padding: 10px 55px 10px 55px;
}
.img-3{
    background-color: $background-color-img;
    color: white;
    font-size: 35px;
    position: $absolute;
    bottom: 338px;
    right: 98px;
    padding: 10px 39px 10px 40px;
}
.img-4{
    background-color: $background-color-img;
    color: white;
    font-size: 35px;
    position: $absolute;
    bottom: 38px;
    right: 962px;
    padding: 10px 51px 10px 51px;
}
.img-5{
    background-color: $background-color-img;
    color: white;
    font-size: 35px;
    position: $absolute;
    bottom: 38px;
    right: 530px;
    padding: 10px 55px 10px 55px;
}
.img-6{
    background-color: $background-color-img;
    color: white;
    font-size: 35px;
    position: $absolute;
    bottom: 38px;
    right: 98px;
    padding: 10px 39px 10px 40px;
}