#quienes{
    background-image: url("../img/bg.jpg");
    background-color: yellowgreen;
    width: 100%;
    max-width: 100%;
}
#iconos-2{
    float: $left;
    padding-top: 261px;
    padding-left: 273px;
}
#somos{
    float: $right;
    width: 548px;
    color: white;
    margin-right: 144px;
    margin-top: 139px;
    font-size: 18px;
    padding-bottom: 50px;
}