#quienes{
    background-image: url("../img/bg.jpg");
    background-color: yellowgreen;
    width: 100%;
    max-width: 100%;
}
#iconos-2{
    float: $left;
    padding-top: 18.11%;
    padding-left: 18.94%;
}
#somos{
    float: $right;
    width: 38.0%;
    color: white;
    margin-right: 9.99%;
    margin-top: 9.64%;
    font-size: 18px;
    padding-bottom: 3.46%;
}