#footer{
    width: 100%;
    max-width: 100%;
    background-color: #171717; 
    color: white;
    font-size: 16px;
}

#menu-footer{
    margin-left: 29.0%;
}
#menu-list-footer{
    list-style: none;
    padding-top: 3.74%;
    margin-top: 0;
    
}

#menu-list-footer li{
    float: $left;
    
}

#menu-list-footer li + li{
    margin-left: 2.77%;
    
}

#menu-list-footer a{
    text-decoration: none;
    color: white;
}

#face-footer{
    text-align: center;
    margin-top: 2.77%;
}

#copy{
    text-align: center;
    padding-top: 1.38%;
    padding-bottom: 1.38%;
}