#footer{
    width: 100%;
    background-color: #171717; 
    color: white;
    font-size: 16px;
}

#menu-footer{
    margin-left: 418px;
}
#menu-list-footer{
    list-style: none;
    padding-top: 54px;
    margin-top: 0;
    
}

#menu-list-footer li{
    float: $left;
    
}

#menu-list-footer li + li{
    margin-left: 40px;
    
}

#menu-list-footer a{
    text-decoration: none;
    color: white;
}

#face-footer{
    text-align: center;
    margin-top: 40px;
}

#copy{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}