@media(max-width: 1023px){
    #header{
        font-size: 14px;
        max-width: 100%;
        width: 100%;
    }
    #menu{
        display: none;
    }
    .menuMovil{
        display: block;
        color: white;
        float: right;
        font-size: 14px;
        padding: 10px 20px;
        margin-right: 10px;
        border-radius: 5px;
        background-color: rgb(25, 173, 199);
    }
    #quienes{
        margin-top: 0;
        max-width: 100%;
        width: 100%;
    }

    #iconos-2 {
        float: $none;
        margin-left: 380px;
        padding-top: 50px;
        padding-left: 0;
    }
    #somos h1{
        text-align: center;
    }
    #somos{
        float: $none;
        width: 548px;
        color: white;
        margin-left: 220px;
        margin-top: 50px;
        font-size: 14px;
        text-align: justify;
        padding-bottom: 35px;
    }

    #footer{
        width: 100%;
        max-width: 100%;
        background-color: #171717;
        height: 235px;
        color: white;
        font-size: 14px;
    }

    #menu-footer{
        margin-left: 235px;
    }

    #grupo-img{
        margin-left: 48px;
        position: relative;
    }
    .img-1{
        background-color: $background-color-img;
        color: white;
        text-align: center;
        font-size: 30px;
        position: $absolute;
        bottom: 639px;
        right: 510px;
        padding: 10px 71px 10px 73px;
    }
    .img-2{
        background-color: $background-color-img;
        color: white;
        font-size: 35px;
        position: $absolute;
        bottom: 639px;
        right: 78px;
        padding: 10px 55px 10px 55px;
    }
    .img-3{
        background-color: $background-color-img;
        color: white;
        font-size: 35px;
        position: $absolute;
        bottom: 338px;
        right: 510px;
        padding: 10px 39px 10px 40px;
    }
    .img-4{
        background-color: $background-color-img;
        color: white;
        font-size: 35px;
        position: $absolute;
        bottom: 338px;
        right: 78px;
        padding: 10px 52px 10px 51px;
    }
    .img-5{
        background-color: $background-color-img;
        color: white;
        font-size: 35px;
        position: $absolute;
        bottom: 38px;
        right: 510px;
        padding: 10px 55px 10px 55px;
    }
    .img-6{
        background-color: $background-color-img;
        color: white;
        font-size: 35px;
        position: $absolute;
        bottom: 38px;
        right: 79px;
        padding: 10px 39px 10px 40px;
    }
}